[info]
shorttitle=Minimalist_ULTRAKILL
publisher=quad
japaneseshorttitle=Minimalist_ULTRAKILL
japanesepublisher=quad
englishshorttitle=Minimalist_ULTRAKILL
englishpublisher=quad
frenchshorttitle=Minimalist_ULTRAKILL
frenchpublisher=quad
germanshorttitle=Minimalist_ULTRAKILL
germanpublisher=quad
italianshorttitle=Minimalist_ULTRAKILL
italianpublisher=quad
spanishshorttitle=Minimalist_ULTRAKILL
spanishpublisher=quad
simplifiedchineseshorttitle=Minimalist_ULTRAKILL
simplifiedchinesepublisher=quad
koreanshorttitle=Minimalist_ULTRAKILL
koreanpublisher=quad
dutchshorttitle=Minimalist_ULTRAKILL
dutchpublisher=quad
portugueseshorttitle=Minimalist_ULTRAKILL
portuguesepublisher=quad
russianshorttitle=Minimalist_ULTRAKILL
russianpublisher=quad
traditionalchineseshorttitle=Minimalist_ULTRAKILL
traditionalchinesepublisher=quad
icon=icon.png
smallicon=small_icon.png
regions=regionfree
eulaversion=0

[frames]
top.type=texture
top.frame=single
bottom.type=color
bottom.frame=single

[textures]
top.image=toptexture.png

[colors]
bottombgoutercolor.dark=0x000000
bottombgoutercolor.main=0x1c1c1c
bottombgoutercolor.light=0x000000
bottombginnercolor.dark=0xffffff
bottombginnercolor.main=0x1f1f1f
bottombginnercolor.light=0x0a0a0a
bottombginnercolor.shadow=0x0000007f
cursorcolor.dark=0x333333
cursorcolor.main=0x454545
cursorcolor.light=0x424242
cursorcolor.glow=0x333333
foldercolor.dark=0x2e2e2e
foldercolor.main=0x303030
foldercolor.light=0x7a7a7a
foldercolor.shadow=0x000000
filecolor.dark=0x303030
filecolor.main=0x666666
filecolor.light=0x8c8c8c
filecolor.shadow=0x00000092
open.textshadowpos=-0.982
open.dark=0xbababa
open.main=0x333333
open.light=0x000000
open.glow=0xa6e6ea
open.shadow=0x002b4e64
open.textshadow=0x292929
open.textmain=0xc7c7c7
open.textselected=0x000000
close.textshadowpos=-0.982
close.dark=0xbababa
close.main=0x333333
close.light=0x000000
close.glow=0x9ce7eb
close.shadow=0x002b4eae
close.textshadow=0x292929
close.textmain=0xc7c7c7
close.textselected=0x000000
folderarrowcolor.textshadowpos=-1.25
folderarrowcolor.dark=0x000000
folderarrowcolor.main=0x262626
folderarrowcolor.light=0x1f1f1f
folderarrowcolor.glow=0xffffff
folderarrowcolor.shadow=0x00000064
folderarrowcolor.textshadow=0x000000
folderarrowcolor.textmain=0xc7c7c7
folderarrowcolor.textselected=0x000000
arrowbuttoncolor.dark=0x757575
arrowbuttoncolor.main=0x969696
arrowbuttoncolor.light=0x2e2e2e
arrowbuttoncolor.shadow=0x002b4e64
arrowcolor.border=0x000000
arrowcolor.unpressed=0x000000
arrowcolor.pressed=0xc7c7c7
bottomcornerbuttoncolor.dark=0x474747
bottomcornerbuttoncolor.main=0x2e2e2e
bottomcornerbuttoncolor.light=0x383838
bottomcornerbuttoncolor.shadow=0x272331
bottomcornerbuttoncolor.iconmain=0xc7c7c7
bottomcornerbuttoncolor.iconlight=0xc7c7c7
bottomcornerbuttoncolor.icontextmain=0x272331
topcornerbuttoncolor.main=0x242424
topcornerbuttoncolor.light=0xf4e2f5
topcornerbuttoncolor.shadow=0x272331
topcornerbuttoncolor.textmain=0xc7c7c7
folderbgcolor.dark=0x000000
folderbgcolor.main=0x313131
folderbgcolor.light=0x000000
folderbgcolor.shadow=0x0000007f
gametext.main=0x333333
gametext.light=0x8c8c8c
gametext.shadow=0xff00000
gametext.textmain=0xc7c7c7
demotextcolor.main=0x6c6c6c
demotextcolor.textmain=0xc7c7c7

[audio]
bgm=BGM_LOW.bcstm
sfx.cursor=sfx/Cursor.dspadpcm.bcwav
sfx.launch=sfx/Launch.dspadpcm.bcwav
sfx.folder=sfx/Folder.dspadpcm.bcwav
sfx.close=sfx/Close.dspadpcm.bcwav

[kame-editor]
deploy=Ultrakill_Minimalistic.zip
